# python for data science - sesi 4
Note :
# NumPy

## Creating array

In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3,4,5])

In [3]:
a

array([1, 2, 3, 4, 5])

In [8]:
# you can easily create an array filled with 0s:

np.zeros(2)

array([0., 0.])

In [5]:
# Or an array filled with 1s:

np.ones(2)

array([1., 1.])

In [9]:
# Or even an empty array!
# The function empty creates an array whose initial 
# content is random and depends on the state of the memory.

np.empty(2)

array([0., 0.])

In [11]:
# You can create an array with a range of elements

print(np.arange(4))
print(np.arange(0,10,2))

# arange([start],stop,[step]) angka stop ga masuk

[0 1 2 3]
[0 2 4 6 8]

### Add, Remove, and Sort

In [13]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

In [14]:
np.append(arr, [1,2])

array([1, 2, 3, 4, 5, 6, 7, 8, 1, 2])

In [16]:
np.delete(arr, 1) #deleting element in poisition 1

array([1, 3, 4, 5, 6, 7, 8])

In [17]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])

In [20]:
np.sort(arr)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [21]:
array_example = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]]])

print(array_example)

[[[0 1 2 3]
  [4 5 6 7]]

 [[0 1 2 3]
  [4 5 6 7]]

 [[0 1 2 3]
  [4 5 6 7]]]

In [22]:
array_example.ndim

3

In [23]:
array_example.size

24

In [25]:
array_example.shape # 3 dim, 2 row, 4 column

(3, 2, 4)

### Reshape

In [27]:
a = np.arange(6)
print(a)

[0 1 2 3 4 5]

In [28]:
a.shape

(6,)

In [31]:
b = a.reshape(3,2)

print(b)

# kalo shape ga sesuai atau gabisa keisi nanti bakalan error

[[0 1]
 [2 3]
 [4 5]]

In [32]:
b.shape

(3, 2)

### Convert 1D to 2D

In [34]:
a = np.array([1, 2, 3, 4, 5, 6])
a.shape

(6,)

In [42]:
# You can convert a 1D array to a row vector by inserting an axis along the first dimension

row_vector = a[:,np.newaxis]
print(row_vector)
row_vector.shape

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

(6, 1)

In [49]:
# You can use np.expand_dims to add an axis at index position 1 with:

b = np.expand_dims(a, axis=1)
print(b)
b.shape

[[[ 1  2  3  4]]

 [[ 5  6  7  8]]

 [[ 9 10 11 12]]]

(3, 1, 4)

### Indexing and slicing

In [43]:
data = np.array([1,2,3])

print(data[0])
print(data[1])
print(data[0:2])
print(data[1:])
print(data[-2:])

1
2
[1 2]
[2 3]
[2 3]

In [44]:
a = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [45]:
# You can easily print all of the values in the array that are less than 5

print(a[a<5])

[1 2 3 4]

In [46]:
five_up = (a >= 5)

print(a[five_up])

[ 5  6  7  8  9 10 11 12]

In [47]:
# You can select elements that are divisible by 2

divisible_by_2 = a[a%2==0]

print(divisible_by_2)

[ 2  4  6  8 10 12]

In [48]:
# you can select elements that satisfy two conditions using the & and | operators

c = a[(a > 2) & (a < 11)]

print(c)

[ 3  4  5  6  7  8  9 10]

### Creating Array from Existing Data

In [50]:
arr = np.array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [51]:
arr1 = arr[3:8]
arr1

array([4, 5, 6, 7, 8])

In [52]:
a_1 = np.array([[1,1],[2,2]])
print(a_1)

[[1 1]
 [2 2]]

In [54]:
a_2 = np.array([[3,3],
               [4,4]])
print(a_2)

[[3 3]
 [4 4]]

In [56]:
np.vstack((a_1,a_2))

array([[1, 1],
       [2, 2],
       [3, 3],
       [4, 4]])

In [57]:
np.hstack((a_1,a_2))

array([[1, 1, 3, 3],
       [2, 2, 4, 4]])

In [58]:
arrsplit = np.array([[1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
                     [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [59]:
# If you wanted to split this array into three equally shaped arrays

np.hsplit(arrsplit,3)

[array([[ 1,  2,  3,  4],
        [13, 14, 15, 16]]),
 array([[ 5,  6,  7,  8],
        [17, 18, 19, 20]]),
 array([[ 9, 10, 11, 12],
        [21, 22, 23, 24]])]

In [61]:
b =  arrsplit.view() # ga ngambil memori cuman memproyeksikan dari a
print(b)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

In [63]:
c =  arrsplit.copy() # kalo ini menduplikat jadi dia pake memori baru
print(c)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

### Basic array operations

In [64]:
a = np.array([1, 2, 3, 4])

# Add all of the elements in the array
a.sum()

10

In [65]:
b = np.array([[1, 1], [2, 2]])
# You can sum the rows

b.sum(axis=0)

array([3, 3])

In [66]:
data = np.array([1,2,3,4])
ones = np.ones(4)

In [67]:
print(data+ones)
print(data - ones)
print(data * ones)
print(data / ones)

[2. 3. 4. 5.]
[0. 1. 2. 3.]
[1. 2. 3. 4.]
[1. 2. 3. 4.]

In [68]:
print(data*1.6)

[1.6 3.2 4.8 6.4]

### More Array Operations

In [69]:
A = np.array([[0.45053314, 0.17296777, 0.34376245, 0.5510652],
              [0.54627315, 0.05093587, 0.40067661, 0.55645993],
              [0.12697628, 0.82485143, 0.26590556, 0.56917101]])

print(A)

[[0.45053314 0.17296777 0.34376245 0.5510652 ]
 [0.54627315 0.05093587 0.40067661 0.55645993]
 [0.12697628 0.82485143 0.26590556 0.56917101]]

In [70]:
A.sum()

4.8595784

In [71]:
A.min()

0.05093587

In [73]:
A.min(axis=1)

array([0.17296777, 0.05093587, 0.12697628])

## Matrices

In [74]:
print(np.ones((3,2)))
print(np.zeros((3,2)))
print(np.random.random((3,2)))

[[1. 1.]
 [1. 1.]
 [1. 1.]]
[[0. 0.]
 [0. 0.]
 [0. 0.]]
[[0.61674972 0.34197746]
 [0.22309566 0.57387631]
 [0.7827065  0.73904474]]

### Matrix Artihmetic

In [75]:
data = np.array([[1, 2], [3, 4]])
print(data)

[[1 2]
 [3 4]]

In [76]:
ones = np.ones([2, 2])
print(ones)

[[1. 1.]
 [1. 1.]]

In [77]:
print(data + ones)

[[2. 3.]
 [4. 5.]]

In [78]:
ones_row = np.ones([1, 2])
print(ones_row)

[[1. 1.]]

In [80]:
print(data + ones_row) # semua row ditambahin sm ones_row

[[2. 3.]
 [4. 5.]]

### Dot Product

In [85]:
a_1 = np.array([[1, 2, 3], [4, 5, 6]])
print(a_1)
print(a_1.shape)

a_2 = np.array([[7, 8], [9, 10], [11, 12]])
print(a_2)
print(a_2.shape)

[[1 2 3]
 [4 5 6]]
(2, 3)
[[ 7  8]
 [ 9 10]
 [11 12]]
(3, 2)

In [86]:
np.dot(a_1, a_2) # hasilnya jadi shape (2,2)

array([[ 58,  64],
       [139, 154]])

### Matrix Indexing

In [91]:
data = np.array([[1, 2], [3, 4], [5, 6]])

print(data)
print(data[0,1])
print(data[1:3])
print(data[0:2,0])

[[1 2]
 [3 4]
 [5 6]]
2
[[3 4]
 [5 6]]
[1 3]

### Matrix Aggregation

In [92]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [93]:
print(data.max())
print(data.min())
print(data.sum())

6
1
21

In [97]:
print(data.max(axis=0))
print(data.max(axis=1))
print(data.max(axis=-1))

[5 6]
[2 4 6]
[2 4 6]

### Transposing and Reshaping

In [98]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [99]:
print(data.T)

[[1 3 5]
 [2 4 6]]

In [100]:
data_col = np.array([[1, 2, 3, 4, 5, 6]]).T
print(data_col)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [101]:
data_col.reshape(2, 3)

array([[1, 2, 3],
       [4, 5, 6]])

In [102]:
data_col.reshape(3, 2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [103]:
arr = np.arange(6).reshape((2, 3))
print(arr)

[[0 1 2]
 [3 4 5]]

## N - Dimensional Array

In [104]:
ndarr = np.array([[[1, 2], [3, 4]],
                  [[5, 6], [7, 8]]])

print(ndarr)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [105]:
print(np.ones((4,3,2)))

[[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]

In [106]:
print(np.zeros((4,3,2)))

[[[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]]

In [108]:
print(np.random.random((4,3,2)))

[[[0.80578315 0.70965678]
  [0.7923602  0.3844197 ]
  [0.82225246 0.16063839]]

 [[0.19862237 0.72893389]
  [0.94022998 0.76896743]
  [0.14170387 0.21885795]]

 [[0.3563163  0.05451121]
  [0.2510047  0.49448575]
  [0.47108061 0.37663085]]

 [[0.2535532  0.34400634]
  [0.25330237 0.15873224]
  [0.99945546 0.57271703]]]

## Flaten N - Dimensional Array

In [109]:
arrflat = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

print(arrflat)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [110]:
# You can use flatten to flatten your array into a 1D array.

arrflat.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

## Notes on Numpy vector

In [111]:
a = np.random.rand(5)

In [112]:
print(a)

[0.2428344  0.89928082 0.90834038 0.66272871 0.5891496 ]

In [114]:
a.shape # Rank 1 Array cannot be transposed .T

(5,)

In [118]:
np.dot(a,a.T) # hasil ga sesuai

2.479063390269609

In [117]:
b = np.random.rand(5, 1) # kalo ini ada kolom vectornya
print(b)

[[0.15598981]
 [0.37219018]
 [0.41262355]
 [0.00779697]
 [0.93238771]]

In [120]:
np.dot(b, b.T) # Nah ini baru sesuai

array([[2.43328201e-02, 5.80578746e-02, 6.43650675e-02, 1.21624711e-03,
        1.45442980e-01],
       [5.80578746e-02, 1.38525530e-01, 1.53574432e-01, 2.90195391e-03,
        3.47025551e-01],
       [6.43650675e-02, 1.53574432e-01, 1.70258191e-01, 3.21721146e-03,
        3.84725125e-01],
       [1.21624711e-03, 2.90195391e-03, 3.21721146e-03, 6.07926676e-05,
        7.26979464e-03],
       [1.45442980e-01, 3.47025551e-01, 3.84725125e-01, 7.26979464e-03,
        8.69346849e-01]])